# Ignore node_modules at the root level
/node_modules

# Ignore package-lock.json at the root level
/package-lock.json

# Ignore environment variables
.env

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore database files
*.db
*.sqlite
*.sqlite3

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
/dist/
/build/